.st0{
  fill:none;
  stroke:#808285;
  stroke-width:0.1;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
.st1{
  fill:#FFFFFF;
  stroke:#808285;
  stroke-width:0.1;
  stroke-miterlimit:10;
}
.st2{
  fill:none;
  stroke:#808285;
  stroke-width:0.1;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
