.st0{
  fill:none;
  stroke:#BBBBBB;
  stroke-width:0.36;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
.st1{
  fill:none;
  stroke:#BBBBBB;
  stroke-width:0.36;
  stroke-miterlimit:10;
}

.st2{
  fill:#F7EEE5;
}
