.st0{
  fill:none;
  stroke:#989898;
  stroke-width:2.016;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st1{
  fill:none;
  stroke:#FFAA99;
  stroke-width:2.808;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st2{
  fill:none;
  stroke:#FFAA99;
  stroke-width:2.016;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
