$screenHeight: 100vh;
$screenWidth: 100vw;
// @function getTranslate($h, $w){
//   @return calc(#{$w} - #{$h} * 1.5);
// }
// @mixin translateX ($x) {
//   transform:(translateX($x));
// }

.screenContainer {
  height: $screenHeight;
  width: 100vw;
  position: relative;
  overflow: scroll;
  opacity: 0;
  transition:
    opacity 2s ease-in;

  &.opened {
    opacity: 1;
  }
}

.mapSVG {
  height: $screenHeight;
  // @include translateX (getTranslate($screenHeight, $screenWidth));
}

.rect1 {
  fill: grey;
}

.rect2 {
  fill: black;
}

.st0{opacity:0.8;fill:#DCF8FF;enable-background:new;}

@media only screen and (orientation: landscape) {
  .mapSVG {
    height: $screenHeight;
  }
}
@media only screen
  and (min-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

  .mapSVG {
    height: $screenHeight;
    // @include translateX (getTranslate($screenHeight, $screenWidth));
  }
}
